body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#square-container {
  position: relative;
  background: red;
  width: 300px;
  height: 300px;
  color: white;
}

#square-container:hover #crosshair1 {
  top: 30px;
  left: 30px;
  opacity:1;
}

#square-container:hover #crosshair2 {
  top: 30px;
  right: 30px;
  opacity:1;
}

#square-container:hover #crosshair3 {
  bottom: 30px;
  left: 30px;
  opacity:1;
}

#square-container:hover #crosshair4 {
  bottom: 30px;
  right: 30px;
  opacity:1;
}

#crosshair1 {
  opacity:0;
  position: absolute;
  top:0px;
  left:0px;
  width: 30px;
  height:30px;
  border: 2px solid yellow;
  box-sizing: border-box;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transition: top 2s, left 2s, opacity 2s;
}

#crosshair1:hover {
  width: 40px;
  height: 40px;
  border: 4px solid green;
  box-sizing: border-box;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

#crosshair2 {
  opacity:0;
  position: absolute;
  top:0;
  right:0;
  width: 30px;
  height: 30px;
  border: 2px solid yellow;
  box-sizing: border-box;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transition: top 2s, right 2s, opacity 2s;
}

#crosshair2:hover {
  width: 40px;
  height: 40px;
  border: 4px solid green;
  box-sizing: border-box;
  border-left-color: transparent;
  border-bottom-color: transparent;
}


#crosshair3 {
  opacity:0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid yellow;
  box-sizing: border-box;
  border-right-color: transparent;
  border-top-color: transparent;
  transition: bottom 2s, left 2s, opacity 2s;

}

#crosshair3:hover {
  width: 40px;
  height: 40px;
  border: 4px solid green;
  box-sizing: border-box;
  border-right-color: transparent;
  border-top-color: transparent;
}

#crosshair4 {
  opacity:0;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border: 2px solid yellow;
  box-sizing: border-box;
  border-left-color: transparent;
  border-top-color: transparent;
  transition: bottom 2s, right 2s, opacity 2s;
}

#crosshair4:hover {
  width: 40px;
  height: 40px;
  border: 4px solid green;
  box-sizing: border-box;
  border-left-color: transparent;
  border-top-color: transparent;
}